{{#if this.show_banner}}
  <div class="custom-category-banner-wrapper">
    <div
      class="custom-category-banner"
      style={{html-safe
        (concat
          "background-color: "
          this.backgroundColor
          ";"
          "background-image: "
          this.backgroundImage
          ";"
          "border: "
          this.border
          ";"
          "box-shadow: "
          this.boxShadow
          ";"
        )
      }}
    >
      <h1 class="custom-category-banner-title">{{this.title}}</h1>
    </div>
  </div>
{{/if}}