.custom-categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  .custom-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 0 28%;
    max-width: 28%;
    min-height: 200px;
    border-radius: 2px;
    margin: 25px 25px 0 0;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 1100px) {
      flex: 1 0 40%;
      max-width: 40%;
    }

    @media (max-width: 600px) {
      flex: 1 0 85%;
      max-width: 85%;
      margin: 25px 10px 0 10px;
    }

    a #custom-category-title {
      color: $primary;
      text-align: left;
      font-size: $font-up-3;
      margin: 5px 0 20px 0;
      font-weight: bold;
    }

    section {
      width: 100%;
    }

    .custom-featured-topics {
      ul {
        list-style: none;
        margin: 0;
        li {
          display: flex;
          padding: 8px 12px;
          background-color: rgba($secondary,.9);
          border-radius: 5px;
          margin-bottom: 5px;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid rgba($primary,.5);
            box-shadow: 1px 1px 0px rgba($primary,.25)
          }
          a {
            color: $primary;
          }
          svg.d-icon {
            color: $primary;
            margin-right: 10px;
          }
        }
      }
    }

    .custom-category-more-link {
      color: $primary-medium;
      font-size: $font-down-2;
      margin-top: 15px;
      padding: 1px 7px 0px 7px;
      background-color: rgba($secondary,.75);
      border-radius: 2px;
      border: 1px solid transparent;
      &:hover {
        box-shadow: 1px 1px 1px rgba($primary,.25)
      }
    }
  }
}